/* .panda-mx{
    margin: 0 66px 0 66px;
} */
.navbar-brand img{
    width: 180px;
}
.slider-bg{
    background-color:#fceae8;
}
.margin-buttom{
    margin-bottom: 85px;
}
.bg-color{
    background: #ff1b74;
    color: #ffcbe0  ;
}
.color{
    color: #ff1b74;
}
.bg-color-orange{
    background: #ffa500;
}
.bg-color-pink{
    background: #da70d6;
}
.bg-color-blue{
    background: #0000ff;
}
.width{
    width: 35%;
}